<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--打印sql-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--别名的设置 ,简化 sql 映射配置文件中 paramterType、resultType 输入/输出参数-->
    <typeAliases>
        <package name="com.mmall.ssm.entity"></package>
    </typeAliases>

</configuration>